@font-face {
  font-family: "robotoblack_italic";
  src: url("../../fonts/roboto-blackitalic-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "robotobold";
  src: url("../../fonts/roboto-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotobold_italic";
  src: url("../../fonts/roboto-bolditalic-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "robotoitalic";
  src: url("../../fonts/roboto-italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("../../fonts/roboto-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "kaushan_script";
  src: url("../../fonts/kaushanscript-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "roboto", sans-serif;
  font-size: 1.8rem;
  background-color: #333;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 5;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}
.nav__home {
  color: #00235b;
  font-family: "robotoblack_italic", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__home span {
  color: #005ccc;
}
.nav__links a {
  display: none;
  position: relative;
  padding: 0.5rem 1rem;
  color: #00235b;
  font-family: "robotobold_italic", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
  z-index: 5;
}
.nav__links a:hover {
  color: #ffffff;
}
.nav__links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #00235b;
  transition: height 0.2s;
  z-index: -1;
}
.nav__links a:hover::before {
  height: 100%;
}
.nav .nav-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  background-color: red;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 1rem;
  z-index: 1000;
}
.nav .nav-btn__box {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: royalblue;
}
.nav .nav-btn__bars, .nav .nav-btn__bars::before, .nav .nav-btn__bars::after {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #00235b;
  border-radius: 100px;
}
.nav .nav-btn__bars::before {
  content: "";
  top: 16px;
  left: 0;
}
.nav .nav-btn__bars::after {
  content: "";
  bottom: 0;
  left: 0;
}

.header {
  position: relative;
  min-height: 75vh;
  background-image: url("../../img/header_bg_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
}

.products {
  min-height: 100vh;
  background-color: #fedc82;
}

.features {
  position: relative;
  min-height: 75vh;
  background-image: url("../../img/features_bg_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.features::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 35, 91, 0.8);
}

.delivery {
  min-height: 100vh;
  background-color: #ffffff;
}

.contact {
  position: relative;
  min-height: 75vh;
  background-image: url("../../img/contact_bg_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.contact::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
}

.footer {
  position: relative;
  min-height: 25vh;
  background-color: #00235b;
}

@media (min-width: 768px) {
  .nav .nav-btn {
    display: none;
  }
  .nav__links a {
    display: inline;
  }
}/*# sourceMappingURL=main.css.map */