@font-face {
  font-family: "robotoblack_italic";
  src: url("../../fonts/roboto-blackitalic-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "robotobold";
  src: url("../../fonts/roboto-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotobold_italic";
  src: url("../../fonts/roboto-bolditalic-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "robotoitalic";
  src: url("../../fonts/roboto-italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("../../fonts/roboto-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "kaushan_script";
  src: url("../../fonts/kaushanscript-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "roboto", sans-serif;
  color: #00235b;
  font-size: 1.8rem;
}

section {
  scroll-margin-top: 73px;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.red-btn,
.turkish-btn {
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 100px;
}

.red-btn {
  padding: 1rem 5rem;
  color: #ffffff;
  background-color: #e11818;
  font-size: 1.8rem;
  font-family: "robotobold";
  transition: background-color 0.3s;
  cursor: pointer;
}
.red-btn:hover {
  background-color: #be1414;
}

.turkish-btn {
  align-self: center;
  margin-top: 2rem;
  padding: 1rem 3rem;
  font-family: "robotobold", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #00235b;
  background-color: #97ded5;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.turkish-btn:hover {
  color: #ffffff;
  background-color: rgb(98, 163, 154);
}

h3 {
  top: 0;
  padding: 5rem 0;
  text-transform: uppercase;
  text-align: center;
  font-family: "robotoblack_italic", sans-serif;
  font-size: 2.4rem;
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav {
  position: fixed;
  width: 100%;
  transition: background-color 0.4s;
  z-index: 1000;
}
.nav-items-animation {
  animation: navItemsAnimation 1s;
}
.nav-background {
  background-color: #ffffff;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.nav__home, .nav-links__link, .nav-items__item {
  color: #00235b;
  font-family: "robotobold_italic", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__home {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  z-index: 1;
}
.nav__home span {
  color: #005ccc;
}
.nav-links__link {
  display: none;
  position: relative;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}
.nav-links__link:hover {
  color: #ffffff;
}
.nav-links__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  transition: height 0.2s;
  z-index: -1;
  background-color: #00235b;
}
.nav-links__link:hover::before {
  height: 100%;
}
.nav-btn {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  padding: 1.5rem;
  border: 2px solid transparent;
  background: transparent;
  border-radius: 1rem;
  cursor: pointer;
  z-index: 1000;
}
.nav-btn:focus {
  border: 2px solid #00235b;
}
.nav-btn__box {
  position: relative;
  width: 35px;
  height: 30px;
}
.nav-btn__bars, .nav-btn__bars::before, .nav-btn__bars::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #00235b;
  border-radius: 100px;
}
.nav-btn__bars::before {
  top: 12.5px;
}
.nav-btn__bars::after {
  top: 25px;
}
.nav-items {
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  inset: 0;
  overflow: hidden;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav-items__decoration {
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translateX(-50%) rotate(-10deg);
  height: 90%;
}
.nav-items__box {
  text-align: right;
}
.nav-items__item {
  padding: 3rem 4rem;
  display: block;
  font-size: 2.8rem;
}
.nav-active {
  transform: translateX(0);
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 75vh;
  background-image: url("../../img/header_bg_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.header::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
}
.header-container {
  display: grid;
  padding: 15rem 3rem;
}
.header__text, .header__button {
  margin: 0 auto;
}
.header__text .bestseller {
  display: inline-block;
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;
  background-color: #97ded5;
  text-transform: uppercase;
  font-family: "robotobold_italic", sans-serif;
}
.header__text h1,
.header__text h2 {
  font-family: "robotobold", sans-serif;
}
.header__text h1 {
  font-size: 4.2rem;
  line-height: 4.2rem;
}
.header__text h2 {
  font-size: 2.6rem;
}
.header__card {
  margin: 5rem auto;
}
.header__card--box {
  position: relative;
  perspective: 1000px;
  height: 340px;
  width: 240px;
}
.header__card--box:hover .header__card--front {
  transform: rotateY(180deg);
  opacity: 0;
}
.header__card--box:hover .header__card--back {
  transform: rotateY(0);
  opacity: 1;
}
.header__card--front, .header__card--back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.4s, opacity 0.4s;
}
.header__card--front {
  padding: 1.8rem 1.8rem 0;
  background-image: url("../../img/card_pattern.jpg");
  background-size: cover;
  background-position: center;
  transform: rotateY(0deg);
  opacity: 1;
  z-index: 0;
}
.header__card--front::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}
.header__card--front-image {
  width: 100%;
  z-index: 1;
}
.header__card--front p {
  text-align: center;
  font-family: "kaushan_script", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  color: #ffffff;
}
.header__card--back {
  background-image: url("../../img/card_back.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  border: 5px solid #00235b;
  transform: rotateY(-180deg);
  opacity: 0;
}
.header__button {
  position: relative;
}

.products {
  position: relative;
  background-color: #fedc82;
}
.products h3 {
  color: #005ccc;
}
.products__container {
  height: 100%;
}
.products__skateboard {
  display: none;
}
.products__panel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}
.products__panel-img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  z-index: -2;
}
.products__panel p {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-family: "robotobold_italic", sans-serif;
  font-size: 3.6rem;
  color: #ffffff;
}
.products__panel p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #ffffff;
  transition: transform 0.3s;
}
.products__panel:hover .products__panel-img {
  transform: scale(1.2);
}
.products__panel:hover p::before {
  transform: scaleX(100%);
  transform-origin: left;
}
.products__panel::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
  z-index: -1;
}
.products__panel:hover::before {
  background-color: rgba(151, 222, 213, 0.8);
}
.products .wheels,
.products .decks,
.products .trucks,
.products .accessories {
  background-position: center;
  background-size: cover;
}
.products .wheels {
  background-image: url("../../img/wheels.jpg");
}
.products .decks {
  background-image: url("../../img/decks.jpg");
}
.products .trucks {
  background-image: url("../../img/trucks.jpg");
}
.products .accessories {
  background-image: url("../../img/accessories.jpeg");
}

.features {
  position: relative;
  background-image: url("../../img/features_bg_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.features::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 35, 91, 0.8);
}
.features h3 {
  color: #ffffff;
}
.features__cards {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 160px);
  row-gap: 2rem;
  padding: 0 3rem 6rem;
}
.features__card {
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}
.features__card-img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.features__card:hover .features__card-img {
  transform: scale(1.2);
}
.features__card:hover p {
  color: #00235b;
}
.features__card:hover .services::before,
.features__card:hover .customs::before,
.features__card:hover .extras::before {
  background-color: rgba(255, 255, 255, 0.8);
}
.features .services,
.features .customs,
.features .extras {
  background-position: center;
  background-size: cover;
}
.features .services::before,
.features .customs::before,
.features .extras::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: background-color 0.3s;
}
.features .services {
  background-image: url("../../img/services_small.jpg");
}
.features .services::before {
  background-color: rgba(225, 24, 24, 0.7);
}
.features .customs {
  background-image: url("../../img/customs_small.jpg");
}
.features .customs::before {
  background-color: rgba(151, 222, 213, 0.7);
}
.features .extras {
  background-image: url("../../img/extras_small.jpg");
  background-position: 25%;
}
.features .extras::before {
  background-color: rgba(207, 177, 95, 0.7);
}
.features__text-side {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
}
.features__text-side p {
  padding-left: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: "robotobold_italic", sans-serif;
  letter-spacing: 2px;
  rotate: 90deg;
  transition: color 0.3s;
}
.features__text-bottom {
  position: absolute;
  bottom: 0.5rem;
  right: 1.5rem;
  text-transform: uppercase;
  font-family: "robotobold_italic", sans-serif;
  font-size: 3.6rem;
  color: #ffffff;
  transition: color 0.3s;
}

.delivery {
  position: relative;
  background-color: #ffffff;
  color: #044199;
}
.delivery h3 {
  z-index: 1;
}
.delivery .br {
  display: none;
}
.delivery__container {
  padding: 0 3rem;
}
.delivery__text {
  font-family: "robotobold", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
}
.delivery__bottom {
  display: flex;
  justify-content: center;
}
.delivery__learn {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0;
}
.delivery__learn-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2rem;
  font-size: 5.4rem;
}
.delivery__learn-text {
  padding-bottom: 4rem;
  font-size: 1.7rem;
  text-align: center;
}
.delivery__image {
  display: none;
  width: 100%;
}

.contact {
  position: relative;
  background-image: url("../../img/contact_bg_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.contact::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
}
.contact__info {
  padding: 5rem 3rem 10rem;
  text-align: center;
  font-size: 2.4rem;
}
.contact__info p {
  padding-bottom: 3rem;
}
.contact__info p:last-child {
  padding: 0;
}
.contact__info i {
  margin-right: 1.5rem;
}
.contact__info .fa-brands {
  transform: translateY(5px);
  font-size: 3rem;
}
.contact__map-frame {
  position: relative;
  height: 350px;
  width: 100%;
}
.contact__map-inside {
  display: none;
}
.contact__map-outside {
  position: absolute;
  width: 100%;
  height: 100%;
}
.contact__fill {
  padding: 4rem;
  background-color: #00235b;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form label {
  padding: 3rem 0 1rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "robotoitalic", sans-serif;
}
.contact__form label:first-child {
  padding: 0 0 1rem;
}
.contact__form input,
.contact__form textarea {
  padding: 1rem;
  font-family: "roboto", sans-serif;
  font-size: 1.6rem;
  border: 2px solid transparent;
  border-radius: 5px;
}
.contact__form textarea {
  height: 200px;
  resize: vertical;
}
.contact__form-button {
  margin-top: 4rem;
}
.contact__popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -400px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  width: 90%;
  font-size: 2.4rem;
  text-align: center;
  background-color: #ffffff;
  border: 3px solid #00235b;
  border-radius: 2rem;
  transition: top 1s ease;
  z-index: 500;
}
.contact__popup .fa-circle-check {
  padding: 4rem 0;
  font-size: 10rem;
}
.contact__popup-close {
  margin: 0;
}

.footer {
  position: relative;
  padding-top: 3rem;
  background-color: #00235b;
  color: #ffffff;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  padding: 2rem 0;
  width: 100%;
  font-family: "robotobold_italic", sans-serif;
  text-transform: uppercase;
  border-top: 2px solid #ffffff;
}
.footer__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
}
.footer__box-logo {
  position: relative;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: "robotobold_italic", sans-serif;
  font-size: 2.8rem;
}
.footer__box-icons {
  font-size: 3rem;
  cursor: pointer;
}
.footer__box-icons .fa-x-twitter {
  padding: 0 3rem;
}
.footer__box-icons .fa-brands:hover {
  color: #97ded5;
}
.footer__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer__link {
  margin: 0 auto;
}
.footer__link a,
.footer__link p {
  padding-bottom: 0.5rem;
}
.footer__link a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.footer__link a:hover {
  text-decoration: underline;
}
.footer__link p {
  text-transform: uppercase;
  font-family: "robotobold_italic", sans-serif;
}
.footer__features {
  padding: 3rem 0;
  grid-column: 1/3;
}

@media (min-width: 375px) {
  section {
    scroll-margin-top: 81px;
  }
  .nav-decoration {
    left: 15%;
  }
  .nav__home {
    font-size: 2.4rem;
  }
  .nav-btn {
    padding: 2rem;
  }
  .header__card--box {
    height: 396px;
    width: 280px;
  }
  .header__card--front {
    padding: 2rem 2rem 0;
  }
  .header__card--front p {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }
  .header__text .bestseller {
    padding: 0.3rem 1.3rem;
    font-size: 2rem;
  }
  .header__text h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  .header__text h2 {
    font-size: 3.1rem;
  }
  .products__panel {
    height: 230px;
  }
  .products__panel p {
    font-size: 4rem;
  }
  .features__cards {
    grid-template-rows: repeat(3, 200px);
  }
  .delivery__text {
    font-size: 4.6rem;
    line-height: 5.6rem;
  }
  .delivery__learn-icons {
    justify-content: space-around;
    font-size: 6.4rem;
  }
  .delivery__learn-text {
    font-size: 1.8rem;
  }
  .contact__form textarea {
    height: 250px;
  }
}
@media (min-width: 576px) {
  .products__panel {
    height: 320px;
  }
  .products__panel p {
    font-size: 5.6rem;
  }
  .features__cards {
    padding: 0 4rem 8rem;
    grid-template-rows: repeat(3, 260px);
  }
  .features__text-bottom {
    font-size: 4.8rem;
  }
  .delivery__container {
    padding: 0 4rem;
  }
  .delivery__text {
    font-size: 6rem;
    line-height: 7rem;
  }
  .delivery__learn-icons {
    font-size: 8rem;
    padding-bottom: 4rem;
  }
  .delivery__learn-text {
    font-size: 2.4rem;
  }
  .contact__fill {
    margin: 0 4rem 8rem;
    border-radius: 2rem;
  }
  .contact__form textarea {
    height: 300px;
  }
  .contact__map-frame {
    height: 500px;
  }
  .footer__box-logo {
    font-size: 3.6rem;
  }
  .footer__box-icons {
    font-size: 4rem;
  }
  .footer__box-icons .fa-x-twitter {
    padding: 0 4rem;
  }
  .footer__links {
    padding-bottom: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__features {
    padding: 0;
    grid-column: 3/4;
  }
}
@media (min-width: 768px) {
  h3 {
    width: 100%;
  }
  .nav .nav-btn {
    display: none;
  }
  .nav-links__link {
    display: inline;
  }
  .nav__home:hover {
    color: #ffffff;
  }
  .nav__home:hover span {
    color: #ffffff;
  }
  .nav__home::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    transition: height 0.2s;
    z-index: -1;
    background-color: #00235b;
  }
  .nav__home:hover::before {
    height: 100%;
  }
  .header-container {
    padding: 15rem 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .header__card {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0 0 0 auto;
  }
  .header__text, .header__button {
    margin: 0 auto 0 0;
  }
  .products h3 {
    position: absolute;
  }
  .products__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .products__panels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    padding: 132px 6rem;
    width: 100%;
  }
  .products__panel {
    height: auto;
    aspect-ratio: 1/1;
  }
  .products__panel p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4.2rem;
  }
  .features__cards {
    grid-template-rows: repeat(3, 300px);
    padding: 0 6rem 10rem;
  }
  .features__text-bottom {
    font-size: 6.4rem;
  }
  .delivery__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6rem;
  }
  .delivery__learn {
    width: 80%;
  }
  .contact__fill {
    margin: 0 auto 10rem;
    width: 500px;
  }
  .contact__form-button {
    align-self: flex-end;
  }
  .footer__box {
    margin: 0 auto 0 0;
  }
  .footer__box-logo {
    font-size: 2.8rem;
    transform: translateY(-5px);
  }
  .footer__box-icons {
    font-size: 3rem;
  }
  .footer__box-icons .fa-x-twitter {
    padding: 0 3rem;
  }
  .footer__container {
    display: flex;
    padding: 0 6rem;
  }
  .footer__links {
    flex-grow: 1;
  }
  .footer__link {
    margin: 0 0 0 auto;
  }
}
@media (min-width: 992px) {
  .header {
    background-image: url("../../img/header_bg_big.jpg");
  }
  .header-container {
    padding: 18rem 9rem;
  }
  .header__card--box {
    height: 425px;
    width: 300px;
  }
  .header__card--front p {
    font-size: 5rem;
    line-height: 6.2rem;
  }
  .header__text .bestseller {
    padding: 0.3rem 1.5rem;
    font-size: 2.4rem;
  }
  .header__text h1 {
    font-size: 6.9rem;
    line-height: 6.9rem;
  }
  .header__text h2 {
    font-size: 4.3rem;
  }
  .products__panels {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 180px);
    row-gap: 2rem;
  }
  .products__panel {
    grid-column: 9/13;
    aspect-ratio: auto;
  }
  .products__panel p {
    font-size: 3.4rem;
  }
  .products__skateboard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-column: 1/7;
    grid-row: 1/5;
  }
  .products__skateboard-img {
    height: 100%;
  }
  .products__skateboard-txt {
    position: absolute;
    top: 38%;
    font-family: "robotobold", sans-serif;
    font-size: 8rem;
    color: #97ded5;
  }
  .features {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/features_bg_big.jpg");
  }
  .features .services {
    background-image: url("../../img/services_big.jpg");
  }
  .features .customs {
    background-image: url("../../img/customs_big.jpg");
  }
  .features .extras {
    background-image: url("../../img/extras_big.jpg");
  }
  .features h3 {
    position: absolute;
  }
  .features__container {
    padding: 132px 6rem;
  }
  .features__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    padding: 0;
    width: 100%;
  }
  .features__card {
    width: 100%;
  }
  .features__text-side {
    display: block;
  }
  .features__text-bottom {
    font-size: 3.6rem;
  }
  .delivery {
    display: flex;
    align-items: center;
  }
  .delivery h3 {
    position: absolute;
  }
  .delivery .br {
    display: inline;
  }
  .delivery__container {
    align-items: flex-start;
  }
  .delivery__text {
    padding: 200px 0 150px;
    font-size: 8rem;
    line-height: 9rem;
    text-align: left;
  }
  .delivery__bottom {
    padding-bottom: 160px;
    justify-content: space-between;
  }
  .delivery__learn {
    padding: 0;
    width: 50%;
  }
  .delivery__image {
    padding-top: 50px;
    display: block;
    width: 40%;
  }
  .contact {
    background-image: url("../../img/contact_bg_big.jpg");
  }
  .contact__container {
    display: flex;
    justify-content: center;
  }
  .contact__info {
    padding: 5rem 10rem 10rem 0;
  }
  .contact__fill {
    margin: 0 0 10rem;
  }
  .contact__popup {
    width: 900px;
  }
  .footer__box-logo {
    font-size: 3.6rem;
  }
  .footer__box-icons {
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  .products__panels {
    grid-template-rows: repeat(4, 230px);
  }
  .products__panel p {
    font-size: 4rem;
  }
  .products__skateboard-txt {
    font-size: 11rem;
  }
  .features {
    min-height: 75vh;
  }
  .features__cards {
    grid-template-rows: 700px;
  }
  .features__text-side p {
    position: relative;
    transform: translateX(-20%);
    padding-bottom: 2rem;
    font-size: 10rem;
  }
  .delivery__text {
    font-size: 9rem;
    line-height: 10rem;
  }
}/*# sourceMappingURL=main.css.map */