@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes floatingBoard {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-3%);
	}
}
