@mixin hero-img {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
}

@mixin hero-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
