// FONTS

$regular-font: 'roboto', sans-serif;
$italic-font: 'robotoitalic', sans-serif;
$bold-font: 'robotobold', sans-serif;
$bold-italic-font: 'robotobold_italic', sans-serif;
$black-italic-font: 'robotoblack_italic', sans-serif; 
$fancy-font: 'kaushan_script', sans-serif;

// COLORS

$black: #000000;
$black-opacity-30: rgba(0,0,0,.3);
$white: #ffffff;
$white-opacity-80: rgba(255,255,255,.8);
$theme-color: #00235b;
$theme-color-opacity-80: rgba(0, 35, 91,.8);
$second-color: #005ccc;
$red-color: #e11818;
$dark-red-color: #be1414;
$yellow-color: #fedc82;
$turkish-color: #97ded5;