@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.features {
	position: relative;
	min-height: 75vh;
	background-image: url('../../img/features_bg_small.jpg');
	@include hero-img;

	&::after {
		content: '';
		@include hero-bg;
		background-color: $theme-color-80;
	}

	h3 {
		color: $white;
	}
}
