@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
	display: flex;
	align-items: center;
	position: relative;
	min-height: 75vh;
	background-image: url('../../img/header_bg_small.jpg');
	@include hero-img;

	&::after {
		content: '';
		@include hero-bg;
		background-color: $white-80;
	}

	&-container {
		display: grid;
		padding: 15rem 3rem;
	}

	&__text,
	&__button {
		margin: 0 auto;
	}

	&__text {
		.bestseller {
			display: inline-block;
			padding: 0.2rem 1rem;
			margin-bottom: 1rem;
			background-color: $turkish-color;
			text-transform: uppercase;
			font-family: $bold-italic-font;
		}

		h1,
		h2 {
			font-family: $bold-font;
		}

		h1 {
			font-size: 4.5rem;
			line-height: 4.5rem;
		}

		h2 {
			font-size: 2.8rem;
		}
	}

	&__card {
		margin: 5rem auto;
		&--box {
			position: relative;
			perspective: 1000px;
			height: 340px;
			width: 240px;

			&:hover {
				.header__card--front {
					transform: rotateY(180deg);
					opacity: 0;
				}

				.header__card--back {
					transform: rotateY(0);
					opacity: 1;
				}
			}
		}

		&--front,
		&--back {
			position: absolute;
			height: 100%;
			width: 100%;
			border-radius: 20px;
			overflow: hidden;
			transition: transform 0.4s, opacity 0.4s;
		}

		&--front {
			padding: 1.8rem 1.8rem 0;
			background-image: url('../../img/card_pattern.jpg');
			background-size: cover;
			background-position: center;
			transform: rotateY(0deg);
			opacity: 1;
			z-index: 0;

			&::before {
				content: '';
				@include hero-bg;
				background-color: rgba(0, 0, 0, 0.6);
			}

			&-image {
				width: 100%;
				z-index: 1;
			}

			p {
				text-align: center;
				font-family: $fancy-font;
				font-size: 4rem;
				line-height: 5rem;
				color: $white;
			}
		}

		&--back {
			background-image: url('../../img/card_back.png');
			background-size: cover;
			background-position: center;
			border-radius: 20px;
			border: 5px solid $theme-color;
			transform: rotateY(-180deg);
			opacity: 0;
		}
	}

	&__button {
		position: relative;
	}
}
