@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/animations' as *;

.nav {
	position: fixed;
	width: 100%;
	transition: background-color 0.4s;
	z-index: 1;

	&-items-animation {
		animation: navItemsAnimation 1s;
	}

	&-background {
		background-color: $white;
	}

	&-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2rem;
	}

	&__home,
	&-links__link,
	&-items__item {
		color: $theme-color;
		font-family: $bold-italic-font;
		text-transform: uppercase;
		text-decoration: none;
	}

	&__home {
		position: relative;
		display: inline-block;
		padding: 0.5rem 1rem;
		z-index: 1;

		span {
			color: $second-color;
		}
	}

	&-links {
		&__link {
			display: none;
			position: relative;
			padding: 0.5rem 1rem;
			transition: color 0.3s;

			&:hover {
				color: $white;
			}

			&::before {
				@include desktopLinks;
				background-color: $theme-color;
			}

			&:hover::before {
				height: 100%;
			}
		}
	}

	&-btn {
		position: fixed;
		top: 0.5rem;
		right: 1rem;
		padding: 1.5rem;
		border: 2px solid transparent;
		background: transparent;
		border-radius: 1rem;
		cursor: pointer;
		z-index: 1000;

		&:focus {
			border: 2px solid $theme-color;
		}

		&__box {
			position: relative;
			width: 35px;
			height: 30px;
		}

		&__bars,
		&__bars::before,
		&__bars::after {
			@include nav-bars;
		}

		&__bars {
			&::before {
				top: 12.5px;
			}

			&::after {
				top: 25px;
			}
		}
	}

	&-items {
		display: flex;
		justify-content: right;
		align-items: center;
		position: fixed;
		inset: 0;
		overflow: hidden;
		background-color: $white;
		transform: translateX(100%);
		transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

		&__decoration {
			position: absolute;
			top: 20%;
			left: 6%;
			transform: translateX(-50%) rotate(-10deg);
			height: 90%;
		}

		&__box {
			text-align: right;
		}

		&__item {
			padding: 3rem 4rem;
			display: block;
			font-size: 2.8rem;
		}
	}

	&-active {
		transform: translateX(0);
	}
}
