@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/animations' as *;

.nav {
	position: fixed;
	width: 100%;
	z-index: 1;

	&-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 3rem;
	}

	&__home,
	&-links__link,
	&-items__item {
		color: $theme-color;
		font-family: $bold-italic-font;
		text-transform: uppercase;
		text-decoration: none;
	}

	&__home {
		font-family: $black-italic-font;
		font-size: 2rem;
	}

	&-links {
		&__link {
			display: none;
			position: relative;
			padding: 0.5rem 1rem;
			transition: color 0.3s;

			&:hover {
				color: $white;
			}

			&::before {
				@include desktopLinks;
				background-color: $theme-color;
			}
		}
	}

	&-btn {
		position: fixed;
		top: 1rem;
		right: 1rem;
		padding: 1.8rem;
		border: 2px solid transparent;
		background: transparent;
		cursor: pointer;
		border-radius: 1rem;
		z-index: 1000;

		&:focus {
			border: 2px solid $theme-color;
		}

		&__box {
			position: relative;
			width: 35px;
			height: 30px;
		}

		&__bars,
		&__bars::before,
		&__bars::after {
			@include nav-bars;
		}

		&__bars {
			&::before {
				top: 12.5px;
			}

			&::after {
				top: 25px;
			}
		}
	}

	&-items {
		display: flex;
		justify-content: right;
		align-items: center;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		background-color: $white;
		transform: translateX(100%);
		transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

		&__decoration {
			position: absolute;
			left: 0;
			transform: translateX(-50%);
			height: 90%;
		}

		&__box {
			text-align: right;
		}

		&__item {
			padding: 3rem 4rem;
			display: block;
			font-size: 2.8rem;
		}
	}

	&-active {
		transform: translateX(0);
	}
}

.light-links {
	&::before {
		@include desktopLinks;
		background-color: $white;
	}
}

.light-links:hover {
	color: $theme-color;
}

.light-links:hover::before, .nav-links__link:hover::before {
	height: 100%;
}

.light-color {
	color: $white;
}

.light-background-color,
.light-background-color::before,
.light-background-color::after {
	background-color: $white;
}

.light-btn:focus {
	border: 2px solid $white;
}