@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.products {
	position: relative;
	background-color: $yellow-color;

	h3 {
		color: $second-color;
	}

	&__container {
		height: 100%;
	}

	&__skateboard {
		display: none;
	}

	&__panel {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 200px;
		overflow: hidden;
		z-index: 0;
		cursor: pointer;

		&-img {
			width: 100%;
			height: 100%;
			transition: transform 0.3s;
			z-index: -2;
		}

		p {
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			font-family: $bold-italic-font;
			font-size: 3.6rem;
			color: $white;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				height: 5px;
				width: 100%;
				transform: scaleX(0);
				transform-origin: right;
				background-color: $white;
				transition: transform 0.3s;
			}
		}

		&:hover {
			.products__panel-img {
				transform: scale(1.2);
			}
			p::before {
				transform: scaleX(100%);
				transform-origin: left;
			}
		}

		&::before {
			content: '';
			@include hero-bg;
			background-color: rgba(0, 0, 0, 0.5);
			transition: background-color 0.3s;
			z-index: -1;
		}

		&:hover::before {
			background-color: rgba(151, 222, 213, 0.8);
		}
	}

	.wheels,
	.decks,
	.trucks,
	.accessories {
		background-position: center;
		background-size: cover;
	}

	.wheels {
		background-image: url('../../img/wheels.jpg');
	}

	.decks {
		background-image: url('../../img/decks.jpg');
	}

	.trucks {
		background-image: url('../../img/trucks.jpg');
	}

	.accessories {
		background-image: url('../../img/accessories.jpeg');
	}
}
