@media (min-width: 1200px) {
	.products {
		&__panels {
			grid-template-rows: repeat(4, 230px);
		}

		&__panel {
			p {
				font-size: 4rem;
			}
		}

		&__skateboard {
			&-txt {
				font-size: 11rem;
			}
		}
	}

	.features {
		min-height: 75vh;
		&__cards {
			grid-template-rows: 700px;
		}

		&__text {
			&-side {
				p {
					position: relative;
					transform: translateX(-20%);
					padding-bottom: 2rem;
					font-size: 10rem;
				}
			}
		}
	}
}
