@use '../abstracts/variables' as *;

@media (min-width: 992px) {
	.header {
		background-image: url('../../img/header_bg_big.jpg');

		&-container {
			padding: 18rem 9rem;
		}

		&__card {
			&--box {
				height: 425px;
				width: 300px;
			}

			&--front {
				p {
					font-size: 5rem;
					line-height: 6.2rem;
				}
			}
		}

		&__text {
			.bestseller {
				padding: 0.3rem 1.5rem;
				font-size: 2.4rem;
			}

			h1 {
				font-size: 6.9rem;
				line-height: 6.9rem;
			}

			h2 {
				font-size: 4.3rem;
			}
		}
	}

	.products {
		&__panels {
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(4, 180px);
			row-gap: 2rem;
		}

		&__panel {
			grid-column: 9 / 13;
			aspect-ratio: auto;
			p {
				font-size: 3.4rem;
			}
		}

		&__skateboard {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			grid-column: 1 / 7;
			grid-row: 1 / 5;

			&-img {
				height: 100%;
			}

			&-txt {
				position: absolute;
				top: 38%;
				font-family: $bold-font;
				font-size: 8rem;
				color: $turkish-color;
			}
		}
	}

	.features {
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../../img/features_bg_big.jpg');

		.services {
			background-image: url('../../img/services_big.jpg');
		}

		.customs {
			background-image: url('../../img/customs_big.jpg');
		}

		.extras {
			background-image: url('../../img/extras_big.jpg');
		}

		h3 {
			position: absolute;
		}

		&__container {
			padding: 132px 6rem;
		}

		&__cards {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 60rem;
			column-gap: 2rem;
			padding: 0;
			width: 100%;
		}

		&__card {
			width: 100%;
		}

		&__text {
			&-side {
				display: block;
			}

			&-bottom {
				font-size: 3.6rem;
			}
		}
	}

	.delivery {
		display: flex;
		align-items: center;

		h3 {
			position: absolute;
		}

		.br {
			display: inline;
		}

		&__container {
			align-items: flex-start;
		}

		&__text {
			padding: 200px 0 150px;
			font-size: 8rem;
			line-height: 9rem;
			text-align: left;
		}

		&__bottom {
			padding-bottom: 160px;
			justify-content: space-between;
		}

		&__learn {
			padding: 0;
			width: 50%;
		}

		&__image {
			padding-top: 50px;
			display: block;
			width: 40%;
		}
	}

	.contact {
		background-image: url('../../img/contact_bg_big.jpg');

		&__container {
			display: flex;
			justify-content: center;
		}

		&__info {
			padding: 5rem 10rem 10rem 0;
		}

		&__fill {
			margin: 0 0 10rem;
		}

		&__popup {
			width: 900px;
		}
	}

	.footer {
		&__box {
			&-logo {
				font-size: 3.6rem;
			}

			&-icons {
				font-size: 4rem;
			}
		}
	}
}
