@media (min-width: 576px) {
	.products {
		&__panel {
			height: 320px;

			p {
				font-size: 5.6rem;
			}
		}
	}

	.features {
		&__cards {
			padding: 0 4rem 8rem;
			grid-template-rows: repeat(3, 260px);
		}

		&__text {
			&-bottom {
				font-size: 4.8rem;
			}
		}
	}
}
