@media (min-width: 576px) {
	.products {
		&__panel {
			height: 320px;

			p {
				font-size: 5.6rem;
			}
		}
	}

	.features {
		&__cards {
			padding: 0 4rem 8rem;
			grid-template-rows: repeat(3, 260px);
		}

		&__text {
			&-bottom {
				font-size: 4.8rem;
			}
		}
	}

	.delivery {
		&__container {
			padding: 0 4rem;
		}

		&__text {
			font-size: 6rem;
			line-height: 7rem;
		}

		&__learn {
			&-icons {
				font-size: 8rem;
				padding-bottom: 4rem;
			}

			&-text {
				font-size: 2.4rem;
			}
		}
	}

	.contact {
		&__fill {
			margin: 0 4rem 8rem;
			border-radius: 2rem;
		}

		&__form {
			textarea {
				height: 300px;
			}
		}

		&__map {
			&-frame {
				height: 500px;
			}
		}
	}

	.footer {
		&__box {
			&-logo {
				font-size: 3.6rem;
			}

			&-icons {
				font-size: 4rem;

				.fa-x-twitter {
					padding: 0 4rem;
				}
			}
		}

		&__links {
			padding-bottom: 3rem;
			grid-template-columns: repeat(3, 1fr);
		}

		&__features {
			padding: 0;
			grid-column: 3 / 4;
		}
	}
}
