@media (min-width: 375px) {
	section {
		scroll-margin-top: 81px;
	}

	.nav {
        &-decoration {
            left: 15%;
        }

		&__home {
			font-size: 2.4rem;
		}

		&-btn {
			padding: 2rem;
		}
	}
}
